@import url(../../variables.css);

.hero-section-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    padding: 40px 40px; 
    background-color: var(--dark-secondary-color); 
    border-radius: 20px;
    margin-top: 10px;
}

.hero-section-subctn {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    max-width: 1200px; 
    width: 100%;
    gap: 20px; 
}

.first-column, .second-column {
    flex: 1; 
}

.first-column {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 20px; 
}

.first-column h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 0;
    color: var(--dark-text-color);
}

.first-column p {
    font-size: 16px; 
    color: var(--dark-text-color);
}

.first-column-btns {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%; 
    border-radius: 8px; 
    gap: 12px;
}

@media screen and (max-width: 768px) {
    .hero-section-ctn {
        min-height: 400px;
        padding: 20px; 
        margin-top: 15px;
    }
    .hero-section-subctn {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .first-column h1 {
        font-size: 32px;
        text-align: center;
    }
    .first-column p {
        text-align: center;
    }
    .second-column img {
        width: 200px;
    }
    .first-column-btns {
        display: flex;
        flex-direction: column;
    }
    .first-column-btns .primary-button,
    .first-column-btns .secondary-button {
        width: 100%;
        max-width: 300px;
    }
}