@import url(../../variables.css);

.guia-ctn {
    width: 100%;
    margin: 0 auto;
    /* background: 
        radial-gradient(circle, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 1) 100%), 
        url(../../assets/oficina.webp); */
    background: url(../../assets/fondo_gradient.png);
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
    min-height: 650px;
    color: #fff;
}

.guia-importacion-ctn {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    min-height: inherit;
}

/* .guia-importacion-ctn .first-col,
.guia-importacion-ctn .second-col {
    flex: 1;
} */

.guia-importacion-ctn .first-col {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.guia-importacion-ctn .second-col {
    width: 60%;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 15px -4px 40px 0px rgba(219,219,219,0.1);
    -moz-box-shadow: 15px -4px 40px 0px rgba(219,219,219,0.1);
    box-shadow: 15px -4px 40px 0px rgba(219,219,219,0.1);
}

.first-col-span {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 300;
}

.guia-importacion-ctn h2 {
    color: var(--dark-text-color);   
    font-size: 32px; 
    text-align: start;
}

.guia-importacion-ctn p {
    font-size: 15px;
    color: var(--dark-text-color);
    text-align: start;
}

.guia-importacion-ctn .guia-importacion-btns {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.acordeon {
    position: relative;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.barra-vertical {
    position: absolute;
    left: 30px;
    top: 20px; 
    bottom: 20px; 
    width: 2px;
    background: linear-gradient(to bottom, rgb(246, 230, 255), rgba(174, 22, 255, 1));
    z-index: 0;
}

.acordeon-item {
    position: relative; 
    margin: 1.5rem 0;
    cursor: pointer;
}

.acordeon-item.activo .barra-vertical {
    height: 50%; 
}

.acordeon-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    background-color: transparent; 
    border-radius: 5px;
    transition: background-color 1s ease-in-out;
    color: #AC8CF0;
    cursor: pointer;
    position: relative; 
    z-index: 1; 
}

.acordeon-header h3 {
    font-size: 20px;
    font-weight: 400;
}

.icono-placeholder {
    width: 30px;
    height: 30px;
    background-color: #555;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.icono-placeholder.active {
    background-color: white;
    color: black;
}

.acordeon-contenido {
    margin-left: 50px;
    font-size: 0.9rem;
    color: #bbb;
    line-height: 1.4;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 0 15px; 
    max-height: 0;
    overflow: hidden;
    visibility: hidden; 
    transition: 
        max-height 0.8s ease-in, 
        padding 0.8s ease-in, 
        visibility 0.8s ease-out; 
}

.acordeon-item.activo .acordeon-contenido {
    max-height: 200px; 
    padding: 10px 15px;
    visibility: visible; 
    transition: 
        max-height 0.5s ease-out, 
        padding 0.5s ease-out, 
        visibility 0.5s ease-out;
}

@media screen and (max-width: 768px) {
    .guia-importacion-ctn {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 14px;
        margin: 30px 0px;
    }
    .guia-importacion-ctn .first-col,
    .guia-importacion-ctn .second-col {
        flex: 1;
        width: 100%;
    }
    .guia-importacion-ctn h2 {
        text-align: center;
    }
    .first-col-span {
        text-align: center;
    }
    .acordeon {
        width: 100%;
        margin: 0px;
        padding-right: 16px;
    }
    .guia-importacion-ctn h2 {
       text-align: center;  
       font-size: 24px;
    }
    
    .guia-importacion-ctn p {
        text-align: center;
    }
    .guia-importacion-ctn .guia-importacion-btns {
        display: flex;
        flex-direction: column;
    }
    .acordeon-header {
        font-size: 16px;
    }
    .acordeon-header h3 {
        font-size: 16px !important;
    }
    .acordeon-contenido p {
        text-align: start;
    }
}