@import url(../../variables.css);

.guia-ctn {
    width: 100%;
    margin: 0 auto;
    background: 
        radial-gradient(circle, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 1) 100%), 
        url(../../assets/oficina2.jpg);
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
    min-height: 600px;
    color: #fff;
}

.guia-importacion-ctn {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    min-height: inherit;
}

.guia-importacion-ctn .first-col,
.guia-importacion-ctn .second-col {
    flex: 1;
}

.guia-importacion-ctn .first-col {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.guia-importacion-ctn h2 {
    color: var(--dark-text-color);   
    font-size: 32px; 
}

.guia-importacion-ctn p {
    font-size: 15px;
    color: var(--dark-text-color);
}

.guia-importacion-ctn .guia-importacion-btns {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.acordeon {
    position: relative;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.barra-vertical {
    position: absolute;
    top: 0;
    left: 15px;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, rgb(246, 230, 255), rgba(174, 22, 255, 1));
}


.acordeon-item {
    position: relative;
    margin: 1.5rem 0;
    cursor: pointer;
}

.acordeon-item.activo .barra-vertical {
    height: 50%; 
}

.acordeon-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    background-color: #222;
    border-radius: 5px;
    transition: background-color 1s ease ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.acordeon-header:hover {
    background-color: #444;
}

.icono-placeholder {
    width: 30px;
    height: 30px;
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 0.8rem;
}

.acordeon-contenido {
    margin-left: 50px;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #bbb;
    line-height: 1.4;
}



@media screen and (max-width: 768px) {
    .guia-importacion-ctn {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px;
        margin: 0px 0px;
    }
    .guia-importacion-ctn h2 {
       text-align: center;  
       font-size: 24px;
    }
    
    .guia-importacion-ctn p {
        text-align: center;
    }
    .guia-importacion-ctn .guia-importacion-btns {
        display: flex;
        flex-direction: column;
    }
}