.video-importacion-ctn {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    top: -20px;
}

.video-importacion-ctn .video-subtitle {
    color: #FAFAFA;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
}

.video-importacion-ctn .video-title {
    font-size: 32px;
    color: #FAFAFA;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards; 
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 1000px; 
    aspect-ratio: 16 / 9; 
    border-radius: 15px; 
    overflow: hidden; 
    border: 1px solid #9350ff; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    opacity: 0; 
    transform: translateY(80px); 
    transition: transform 0.5s ease, opacity 0.5s ease; 
}

.video-container.active {
    opacity: 1; 
    transform: translateY(0);
}


@media screen and (max-width: 768px) {
    .video-importacion-ctn {
        padding: 20px;
    }
}