@import url(../../../variables.css);

.secondary-button {
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    outline: none;
    border: 1px solid #9350ff;
    color: var(--dark-text-color);
}