@import url(../../../variables.css);

.secondary-button {
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    outline: none;
    border: 1px solid #9350ff65;
    color: var(--dark-text-color);
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 200ms;
    text-decoration: none;
}

.secondary-button:hover {
    background-color: #FAFAFA;
    color: #9350ff;
    border: 1px solid #9350ff;
}