@import url(../../variables.css);

.header-ctn {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    max-height: 100px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

.logo-container {
    flex-shrink: 0; 
}

.menu-container {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
}

.logo-container img {
    width: 50px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: relative;
    left: 30px;
}

ul a {
    text-decoration: none;
}

ul li {
    font-size: 14px;
    color: var(--dark-text-color);
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: all ease-in-out 200ms;
}

ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


button {
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #9350ff;
    color: white;
}

@media screen and (max-width: 650px) {
    .menu-container {
        display: none;
    }
}