@import url(../../variables.css);

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: var(--dark-secondary-color);
    border: 1px solid #4e4e4e;
    border-radius: 16px;
    padding: 20px;
    width: 350px;
    max-width: 100%;
    color: var(--dark-text-color);
    transition: transform 0.3s, box-shadow 0.3s;
    min-height: 180px;
}

/* .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  } */

.card-text {
    max-width: 200px;
}

.card-text h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text a {
    display: inline-flex;
    align-items: center;
    color: #9350ff;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
}

.card-text a span {
    margin-left: 5px;
    font-size: 0.9rem;
    transform: translateY(2px);
}