@import url(../../variables.css);

.faqs-ctn {
    margin: 50px 0px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}

.faqs-title {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.faqs-title span , .faqs-title h3 {
    text-align: center;
    color: var(--dark-text-color);
}

.faqs-title span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 14px;
}

.faqs-title h3 {
    font-size: 32px;
}

.faqs-acordeon {
    width: 700px;
    max-width: 700px;
}

.faqs-acordeon p {
    color: var(--dark-text-color);
}

.acordeon-contenido p {
    font-size: 16px;
}

.acordeon-header-faqs {
    padding: 1em ;
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.acordeon-contenido-faqs {
    font-size: 18px;
    margin: 12px 20px;
}

@media screen and (max-width: 768px) {
    .faqs-ctn {
        margin: 0px 0px;
        padding: 20px;
    }
    .faqs-acordeon {
        width: 100%;
        max-width: 500px;
    }

    .faqs-title h3 {
        font-size: 24px;
    }    
}