@import url(../../variables.css);

.categorias-productos-ctn {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 500px;
    margin-top: 40px;
}

.categorias-productos-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--dark-text-color);
}

.categorias-productos-title span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}

.categorias-productos-title h2 {
    font-size: 32px;
}

.categorias-productos-cards {
    display: flex;
    margin: 30px 0px;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .categorias-productos-ctn {
        padding: 20px;
        margin-top: 0px;
    }
    .categorias-productos-title h2 {
        text-align: center;
    }
}